[submodule "Submodules/ObjectMapper"]
	path = Submodules/ObjectMapper
	url = https://github.com/Hearst-DD/ObjectMapper.git
[submodule "Submodules/Alamofire"]
	path = Submodules/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
